@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.url_input {
  border-radius: 3px;
  background-color: #eaeaea;
  color: #555555;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.stl_button:disabled {
  width: 200px;
  background-color: #e0e0e0 !important;
  color: #bfbfbf !important;
  border-radius: 3px;
}

.stl_button {
  width: 200px;
  background-color: #eb4a42;
  color: white;
  border-radius: 3px;
}

.section_headings {
  font-size: 22px;
  color: #555555;
  font-family: 'Roboto', sans-serif;
}

.accent_button {
  font-family: 'Roboto', sans-serif;
  color: #eb4a42;
}

.unimportan_text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #aaaaaa;
}


.secondary_text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #cccccc;
}

.accent_text {
  color: #eb4a42;
}

.logo_text {
  color: #eb4a42;
  font-size: 47px;
  font-family: 'Montserrat';
  font-weight: bold;
}

hr {
  margin-top: -10px;
  border: solid #eb4a42 2px;
  border-radius: 10px;
}